/*Formatações gerais*/

body {
	font-family: "Roboto";
	background-color: #048BA8;
}

#top {
	background-color: #048BA8;
	padding: 1em;
	height: 6em;
}

#bloco2 {
	background-color: rgba(153, 194, 77, .8);
	height: 800px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	padding-top: 20px;
}

#bloco2 div#perfil {
	
	height: 740px;
	border-radius: 16px;
}

#fotoPerfil p {
	text-align: center;
	background-color: red;
	height: 100px;
}

#usuario p {
	text-align: center;
	background-color: white;
	height: 100px;
	margin-top: -10px;
}

#icone i {
	color: white;
}
#perfisAmigos p {
	text-align: center;
	height: 100px;
	background-color: blue;
}